.h-navbar .container-fluid{
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.h-navbar{
    border-bottom: 2.5px solid #008cff;
}

.h-navbar .nav-link:hover{
    color: #0084ff !important;
}

.h-navbar .notif{
  padding: 1rem !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.hr{
  padding: 3px; 
  border-radius: 5px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  width: auto;
  margin: 1rem 0;
}
/* Scroll to offset adjustment */
:target::before {
  content: "" !important;
  display: block !important;
  height: 60px !important; /* fixed header height*/
  margin: -30px 0 0 !important; /* negative fixed header height */
}

/* General Modal CSS */
.modal-content{
  border-bottom: 10px solid #485461 !important;
  border-top: 10px solid #0099ff !important;
  border-radius: 30px !important;
}
.modal-confirm-Btn, .modal-cancel-Btn{
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  outline: none;
  padding: 10px 30px !important;
  margin: 0 15px 0 15px;
  border-radius: 20px !important;
  border:none !important;
}
.modal-cancel-Btn {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.modal-confirm-Btn:hover, .modal-cancel-Btn:hover{
  transform: scale(1.1);
}

/* Scrollbar */
body::-webkit-scrollbar {
width: 10px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
background: rgb(70, 70, 70);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid rgb(70, 70, 70);  /* creates padding around scroll thumb */
}