.fa-gears{
    border-radius: 0px 20px 20px 0px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); 
}
.card{
    border-style: 1px solid black; 
    margin-left: 70px;
    height: 100%;
    width: 100%;
    margin-top :10px;
}
#profile{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border: solid 1px;

}
.form-row{
     margin-top: 10px;
}

.icon-right{
    float: right;
    padding-right: 15px;
}