@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 250px;
    height: 100%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    padding: 30px 0px;
    position: fixed;
    box-shadow: 0px -1px 34px 4px rgba(0,0,0,0.30);
}

.wrapper .sidebar .brgyLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:150px;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 30px;
}

.wrapper .sidebar ul li {
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05)
}

.wrapper .sidebar ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    
}

.wrapper .sidebar ul li a .fa {
    padding: 12px 20px 12px 20px;
    font-size: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #7d777717
}

.wrapper .sidebar ul li:hover a {
    color: #fff
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.wrapper .main_content {
    width: 100%;
    margin-left: 250px;
}

/* Top Nav */
.sticky {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    box-shadow: 0px -1px 34px 4px rgba(0,0,0,0.20);
}

/* Top Nav */
.search{
    width: 45%;
    display:inline-flex;
}

.search .fa-search{
    color:rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
    border-radius: 20px 0px 0px 20px;
    padding:8px 6px 6px 10px;
}

.search .searchInp{
    color:rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 15px;
    padding:6px;
    width: 80%;
}

.search .searchInp:focus {
    outline-width: 0;
}

.search input[type="submit"]{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
    border: none;
    font-size: 13px;
    padding:6px 15px 6px 10px;
    border-radius: 0px 10px 10px 0px;
}

.search input[type="submit"]:hover {
    background-color: rgba(180, 180, 180, 0.472);
    box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.62);
}

.postBtn{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
    border: none;
    font-size: 13px;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    margin-left: 6%;
}