@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arbutus Slab', serif;
}

.container-fluid{
    margin-left: 10%;
    margin-right: 10%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.hr{
    padding: 3px; 
    border-radius: 5px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    width: 100%;
    margin: 1rem 0;
  }

.webname{
    text-decoration: none;
    color: black;
}

.webname:hover{
    color: #045de9;
}

.list-group{
    padding-left: 2em !important;
}

#home {
    background-color: #fff;
    border: 2px solidrgb(31, 31, 31);
    padding: 8px 30px 8px 30px;
    border-radius: 20px;
    margin-top: 20px;
    color: rgb(31, 31, 31);
}
#home:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}