.hr{
    padding: 3px; 
    border-radius: 5px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    width: auto;
}

.form {
    max-width: 100vh !important;
    justify-content: center;
    background-color: #fff;
    border-bottom: 10px solid #485461;
    border-top: 10px solid #0099ff;
    border-radius:10px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #79736E !important;
    transition: 0.5s;
}
 #createBtn, #clearBtn {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    outline: none;
    padding: 8px 30px 8px 30px;
    margin: 0 15px 0 15px;
    border-radius: 20px;
    border:none;
}
#clearBtn {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
#createBtn:hover, #clearBtn:hover {
    transform: scale(1.1);
}   

/*hide disclaimer 000webhost*/
.disclaimer { display: none; }