@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arbutus Slab', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.container{
    padding: 5em;
    /* background-color: rgb(236, 236, 236); */
}

.section_1{
    align-items: center;
    justify-content: center;
}

.bread_item{
    color: #000 !important;
    text-decoration: none !important;
}
.bread_item:hover{
    color: rgb(0, 132, 255) !important;
}

.hr{
    padding: 1px; 
    border-radius: 5px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title{
    text-align: center;
    margin-bottom: 40px;
}

.nobullet_list {
    list-style-type: none;
}

.roman_bullet {
    list-style-type: lower-roman;
}

/* TO TOP */
#toTop:hover {
    background-color: rgba(180, 180, 180, 0.472);
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.62);
}

#toTop:focus {
    outline: none;
}

/* To Top Button */
#toTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    padding: 30px;
}

#toTop{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
    border: none;
    font-size: 20px;
    padding: 7px 12px 7px 12px;
    border-radius: 20px;
    margin-left: 6%;
}